@page "/commands"
@using TobysBot.Discord.Client.Extensions
@using TobysBot.Discord.Client.TextCommands
@model TobysBot.Discord.Pages.Commands

@{
    ViewData["Title"] = "Commands";
    ViewData["PrependTitle"] = true;
}

<div class="container pt-3">
    <div class="row">
        <div class="col-md-4">
            <nav id="nav-modules" class="flex-column">
                @foreach (var module in Model.Modules)
                {
                    <a class="btn btn-block btn-outline-primary" href="#@module.Name">@module.Name</a>
                }
            </nav>
        </div>

        <div class="col-md-8">
            <div>
                @foreach (var module in Model.Modules)
                {
                    <h2 id="@module.Name">@module.Name</h2>
                    @foreach (var command in module.Commands)
                    {
                        if (command.Attributes.OfType<HideInHelpAttribute>().Any())
                        {
                            continue;
                        }

                        var commandName = command.Name.Replace(" ", "-");

                        <div class="card bg-600 mb-3">
                            <div class="card-header" id="heading-@commandName">
                                <h4>
                                    <a class="text-reset stretched-link font-weight-bold text-decoration-none" data-toggle="collapse" href="#collapse-@commandName" role="button" aria-expanded="False" aria-controls="collapse-@commandName">
                                        @command.ToHelpString()
                                    </a>
                                </h4>
                            </div>
                            
                            <div class="collapse" id="collapse-@commandName" aria-labelledby="heading-@commandName">
                                <div class="card-body">
                                    <p>@command.Summary</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>